apturl
Brlapi
command-not-found
cupshelpers
defer
distro-info
httplib2
JPype1
keyrings.alt
konlpy
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
louis
pycups
pygobject
pymacaroons
pyRFC3339
python-apt
python-debian
pyxdg==0.25 
requests-unixsocket
screen-resolution-extra
ssh-import-id
sudospawner
system-service
systemd-python
TwitterSearch
ubuntu-drivers-common
ufw
unattended-upgrades
usb-creator
wadllib
wordcloud
xkit
